# Virtual environment
venv/

# Data directories (keep folder structure via .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Node (for future frontend)
node_modules/
